body{
    background-image: url("http://186.208.80.7:8080/sac/login/sac_fundo.png") !important;
    background-size: cover;
    background-repeat: no-repeat;
}

div{
    display: flex;
    align-items: center;
    text-align: center;
    background-color: aliceblue;
    flex-direction: column;
    height: 500px;
    width: 300px;
    border-radius: 1rem;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: relative;
    justify-content: center;
    text-align: center;
    padding: 1rem;
    box-shadow: 3px 3px 5px black;
    margin-top: 20rem;
}

p{
    font-family: 'Fredoka', sans-serif;
    font-size: 34px;
    color: black;
    text-align: center;
}

span{
    font-family: 'Fredoka';
    font-weight: 500;
}

#senha{
    margin-top: 1rem;
}

input{
    width: 200px
}

#login{
    margin-top: 2rem;
}

*{
    box-sizing: border-box;
}

#rede{
    margin-top: 1rem;
}

img{
    margin-bottom: 2rem;
}